@import "helpers";
@import "utilities";

// banner styles
.banner{
    position: relative;

    .shape{
        background-color: rgba(0,89,68,0.7);
        position: absolute;
        width: 53%;
        height: 99%;
        top: 0;
        right: 0;
        clip-path: polygon(16% 0%, 100% 0%, 100% 100%, 0% 100%);

        @include respond(mobile){
            display: none;
        }
    }
    &__img{
        width: 100%;
    }
}

// investment styles
.investment{
    margin-top: 6.4rem;
    margin-bottom: 4.3rem;

    &__content{
        display: grid;
    }

    .info{
        margin-top: 2.6rem;
        margin-bottom: 4.4rem;
    }

    .btn{
        justify-self: center;
    }
}

// advantages styles

.advantages{
    &__content{
        @extend %flex;
        margin-top: 4rem;
        margin-bottom: 6.2rem;
        row-gap: 11.4rem;
        @include respond(mobile){
            row-gap: 2.5rem;
        }
    }

    .advantage{
        flex-basis: calc((100% - 4rem) / 2);
        @include respond(mobile){
            flex-basis: 100%;
        }
        &:not(:nth-child(even)){
            border-right: 1px solid $color-secondary-text;
            margin-right: 4rem;
            padding-right: 4rem;
            @include respond(mobile){
                margin-right: 0;
                padding-right: 0;
            }
        }
        &:not(:last-child){
            @include respond(mobile){
                margin-right: 0;
                padding-right: 0;
                padding-bottom: 2.5rem;
            }
        }
        @include respond(mobile){
            &:not(:last-child){
                border-bottom: 1px solid $color-secondary-text;
                border-right: 0;
            }
        }
        h3{
            @include page-heading-3($color-base);
        }
        .info{
            max-width: 56.6rem;
            @include respond(mobile){
                max-width: 100%;
            }
        }
    }
}

// loans
.loans{
    &__content{
        background-color: $color-base-light;
    }
    h3{
        @include page-heading-3($color-white);
        background-color: $color-base;
        text-align: center;
        padding: 2rem;
        margin-bottom: 0;
    }
    .info{
        padding: 3.1rem 9.4rem 3.8rem 6.4rem;
        margin: 0 auto;
        color: $color-secondary-text;

        @include respond(mobile){
            padding: 2rem 1.5rem;
        }
    }
}

// reviews styles
.reviews{
    margin-top: 5.9rem;
    margin-bottom: 9.8rem;
    @include respond(mobile){
        margin-bottom: 7rem;
    }
    &__content{
        @extend %flex;
    }
    .review{
        transition: all 0.3s ease;
        flex-basis: calc((100% - 3rem) / 3);

        @include respond(mobile){
            flex-basis: 100%;
            &:not(:last-child){
                margin-bottom: 3.5rem;
            }
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        &__image-container{
            img{
                height: 17.2rem;
            }
        }

        .info{
            text-align: center;
            font-style: italic;
            max-width: 17rem;
            margin-bottom: 2.6rem;
        }

        &__name{
            font-size: $font-size-m;
            span {
                color: $color-link-text;
                font-size: inherit;
                display: block;
                text-align: center;
            }
        }

        &--active{
            .info{
                max-width: 35.2rem;
            }
        }

        &:hover{
            cursor: pointer;
            transform: translateY(-1rem);
        }
    }
}